
@{
    ViewBag.Title = "Раздел о нас";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="article-article">
    <p c>
        Наш сайт – это уникальный проект, который помогает людям и питомцам из приютов встретиться и стать друзьями на всю жизнь.
        Миссия проекта - формирование культуры ответственного отношения к домашним животным. Решение взять кошку или собаку из приюта должно быть осознанным, именно поэтому мы помогаем потенциальным владельцам не только найти питомца, но и подготовиться к жизни с новым другом: приобрести необходимые знания, пройти собеседование с куратором, получить поддержку от организаторов проекта.

    </p>
</div >
 

