
@{
    ViewBag.Title = "Articles";
}

<section>
    <article id="article-article">
        <h3><a name="link1">Как теряются животные?</a></h3>
        <p class="description3">
            <img src="~/Content/photo/EP63Du7X4AE7c3B.jpg" class="leftimg">
            Чаще всего теряются собаки и кошки: из-за любопытства отстают на прогулке, незаметно выбегают за дверь или даже спрыгивают с балконов. Чтобы не рисковать, лучше заранее купить адресник или GPS-трекер. Если любимец всё же пропал, не сдавайтесь и следуйте нашей инструкции.
            Если вы убедились, что питомец не выходит на зов, постарайтесь успокоиться: волнение не поможет поискам. Наши коллеги из Яндекс.Района подготовили подробную инструкцию по поискам, а мы расскажем, как ещё обезопасить своих животных.
        </p>
    </article>

    <article id="article-article">

        <h3><a name="link3">Как искать потерянное животное?</a></h3>
        <p class="description3">
            <img src="~/Content/photo/kley.jpg" class="leftimg">
            Первым делом нужно проверить все помещения и укромные места в доме или квартире: кошки и небольшие питомцы от испуга и стресса могут прятаться там по несколько дней. Животное может прятаться в стенном шкафу, за мебелью или в складном диване — так срабатывают природные инстинкты.
            Если кошка не нашлась или потерялась на улице, нужно проверить другие этажи и подъезды, подвалы и чердаки вашего и соседних домов — чаще всего животные находятся именно там, даже спустя несколько недель. Проверять нужно регулярно, по возможности два раза в сутки. Чтобы осмотреть подвалы и чердаки, нужно взять ключи в управляющей компании — для этого понадобится паспорт.
            Во время поисков нужно ласково, но достаточно громко звать животное по имени и прислушиваться: мяуканье в ответ может быть тихим. Можно взять с собой его любимые лакомства: если питомец проголодался, он выйдет на шуршание упаковки и запах. Пригодится хороший фонарик — в полумраке или темноте притаившуюся кошку можно не заметить.
            При поисках животных стоит придерживаться правила «кошку ищите близко, а собаку — везде». Кошки крайне редко покидают знакомую территорию и при испуге часто залезают в близлежащие подвалы и на деревья. Потерявшиеся собаки могут убежать на несколько километров или даже попасть на другой конец города, иногда с помощью общественного транспорта.
            При поиске собаки нужно проверить ближайшие места выгула и территории, где могут быть другие собаки. Стоит предупредить знакомых владельцев собак, что питомец потерялся. Если они узнают, как он выглядит, то помогут в поисках. Нужно проверить все места, где питомца могли прикормить: ближайшие дворы, магазины и места торговли.
            Разместите объявление о поиске в Яндекс.Районе: обязательно добавьте фотографию и подробное описание животного, постарайтесь вспомнить все его отличительные особенности. При возможности лучше пообещать в объявлении вознаграждение — для кого-то оно может стать стимулом.
            Если животное породистое и у него есть клеймо, обязательно напишите, какое. Можно позвонить заводчику, у которого покупали животное, и предупредить о пропаже: тот, кто обнаружит животное, может позвонить именно ему, потому что по клейму обычно можно найти контакты питомника.
            Важно распечатать бумажные объявления о пропаже животного, лучше в цвете, и расклеить их в районе — на подъездах, автобусных остановках и рядом с магазинами. Используйте файлы для бумаги — они помогут защитить объявление от плохой погоды. Объявления стоит передать консьержам и дворникам, а также предупредить о пропаже продавцов, дворников, консьержей и жителей дворов.
            Рекомендуем проверять все объявления о найденных животных в ленте «Найдётся всё» Яндекс.Района и подписаться на обновления близлежащих районов.
            Важно позвонить в приюты для бездомных животных и ближайшие ветеринарные клиники — люди часто приносят туда найденных животных. Предупредите их о потере и узнайте — возможно, к ним привозили животное, подходящее под описание. Ещё лучше — прийти к ним и передать бумажные объявления с фотографией. Хороший вариант — повесить их и на входе в зоомагазины.
            Поиски могут затянуться — в этом случае стоит разместить объявление в местных газетах и регулярно просматривать разделы с другими объявлениями.
            Часто на связь с хозяевами выходят мошенники и просят заранее перевести вознаграждение за возвращение животного. Нельзя этого делать до того, как позвонившие передадут или покажут животное. Даже если деньги просят на компенсацию затрат на связь или транспорт, не соглашайтесь: пообещайте компенсировать затраты после передачи животного.
        </p>
    </article>

    <article id="article-article">
        <h3><a name="link4"></a>Немного о трекерах</a></h3>
        <p class="description3">
            <img src="~/Content/photo/trekker.png" class="leftimg">
            Когда животное найдётся, стоит записаться к ветеринару и поставить чип: если питомец вновь потеряется, это поможет нашедшим быстрее установить владельца. Операция уже давно опробована и безопасна для животных.
            В последнее время очень популярны GPS-трекеры для животных, которые по технологии маячка помогают отследить местоположение питомца с точностью до нескольких метров. Их крепят на ошейник и надевают перед прогулкой, заряжают при необходимости. Увидеть локацию питомца можно в приложении для смартфона, планшета или компьютера.
            Трекеры нужны, если питомец бывает на даче, в лесу или парке — в основном они влагоустойчивы и даже выдерживают купание. В приложении можно очертить домашнюю зону: если животное выйдет из неё, устройство пришлёт сигнал на смартфон.
            Адресник — простейший способ снабдить животное своими контактными данными: если питомец потеряется, то нашедшие смогут оперативно связаться с с хозяином. Чаще всего сделаны в виде закручивающейся капсулы, в которую влезет скрученная записка, или жетона, на котором можно сделать гравировку. Такой кулон прикрепляют к ошейнику питомца.
        </p>
    </article>
    <article id="article-article">

        <h3><a name="link2">Аммуниция</a></h3>
        <p class="description3">
            <img src="~/Content/photo/orig.png" class="leftimg">
            Для прогулок с кошкой нежелательно использовать просто ошейник или поводок, выносить животное на улицу на руках — от испуга в новой обстановке оно может моментально выскользнуть и убежать. Лучше купить шлейку по размеру, которая надёжно фиксируется на теле.
            Для собак выпускают удобные светящиеся ошейники — они позволяют увидеть питомца в сумерках, если он отбежал слишком далеко. Заодно такой аксессуар делает его более заметным на проезжей части, куда животное может нечаянно выбежать. Светящиеся ошейники заряжают от сети перед прогулкой и надевают поверх обычных.
            Важно, чтобы проводок и крепление для ошейника были прочными — от испуга даже небольшое животное может дёрнуться с такой силой, что хлипкая фурнитура не выдержит.
        </p>

    </article>
</section>

