
@{
    ViewBag.Title = "Help";
}


<section>

    <article id="article-article" class="more-link bold-link" >
        <div class="article-image" style="background:url(./photo/1111.png)"></div>


        <ul class="description3" style="color:black !important">
            <p>
                Спасибо, что проявили участие и хотите поддержать нас! Сделать это можно различными способами,
                выбирайте, какие Вам больше подходят:
            </p>
            <li >
                Можно поддержать развитие проекта финансово, особенно если мы были Вам чем-то полезны (Вы нашли питомца или его хозяев с нашей помощью,
                составили и распечатали бумажные объявления и т.д. )
            </li>
            <li>
                Можно помочь распространить информацию о нашем сервисе. Ведь чем больше людей узнают о нас, тем выше шансы для зарегистрированных у
                нас питомцев на успешное воссоединение с хозяевами. Для того, чтобы поделиться со всем миром (ну или просто со своим друзьям в соц. сетях :) )
                информацией о сайте
            </li>
            <li>
                Можно вступить в наши сообщества в социальных сетях. Чем больше людей будет в наших группах - тем популярнее станет наш сервис и тем большему
                количеству животных мы сможем помочь! Так же, вступив в наши сообщества, Вы сможете следить за новостями нашего проекта. На данный момент мы
                присутствуем в следующих соц. сетях:
            </li>
            <li>
                Можно просто использовать наш сервис регулярно по прямому назначению. Если Вы представляете приют для животных, либо другую подобную организацию,
                или просто владеете информацией о пропавших или найденных питомцах - попытайтесь найти их на нашей карте и оставьте сообщение в их профиле, либо
                сами зарегистрируйте их на сайте. Добавить объявление о пропавшем питомце можно здесь. Найденные Вами питомцы добавляются вот тут.
            </li>
        </ul>

        
    </article>

</section>
