

@{

    ViewBag.Title = "Главная страница";
}

<section>
    <div>
        <img src="~/Content/photo/2222.jpg" id="article-image4">
        <img src="~/Content/photo/3333.jpg" id="article-image4">
        <img src="~/Content/photo/4444.jpg" id="article-image4">
        <img src="~/Content/photo/5555.jpg" id="article-image4">
        <img src="~/Content/photo/6666.jpg" id="article-image4">
        <img src="~/Content/photo/666.jpg" id="article-image4">
    </div>
    <div>
        <video loop="loop" wautoplay="autoplay" idth="400" height="300" controls="controls" poster="photo/hasky.jpg" wmode="window" style="display: block;" allowfullscreen="true">
            <source src="~/Content/photo/Puppy - 4740.mp4" type="video/mp4">
        </video>
    </div>


</section>