
@{
    ViewBag.Title = "Reviews";
}

<h2>Отзывы</h2>
<a class="navbar-logo" href=""><img src="~/Content/photo/kot-s-kosoy.jpg" width="59" height="50"></a>
    
<section>
    <article>
        <div class="article-image" ></div>

        <h3>Найден белый кот</h3>
        <p class="description">
            <img src="~/Content/photo/4.jpg" width="100" height="100">
            Нашли его соседи, недалеко от дачи , сидевшего в канаве, ослабевшего, отощавшего, грязного, в клещах, сколько ему
            пришлось перенести за 2 месяца скитаний😱, трудно представить😭🐈🐈🐈 и просто настоящее ЧУДО, что кот не попал
            под машину и его не разорвали собаки.... Радости хозяев нет предела!!!🤗 СПАСИБО всем вам, добрые, неравнодушные ЛЮДИ!!! 🐈🌹💞

        </p>
    </article>
    <article>
        <div class="article-image" ></div>
        <h3>Найден Тобик!</h3>
        <p class="description">
            <img src="~/Content/photo/3.jpg" width="100" height="100">
            Спустя 20 дней нашлась наша пропажа, Московская область Наро-Фоминск, найден наш Тобик!!! Мы очень благодарны данному сайту. Всем расскажём о нём)))

        </p>
    </article>
    <article>
        <div class="article-image" ></div>
        <h3>Найден чёрный кот</h3>
        <p class="description">
            <img src="~/Content/photo/2.jpg" width="100" height="100">
            Дорогие друзья!!! Огромное всем спасибо!! Мой кот Магамед сегодня вернулся домой! Сегодня ровно 3 недели
            как он ушёл! Ровно неделю назад нам позвонил молодой человек Данис, сообщил что видел кота на проспекте
            Победы около входа в метро. Оказалось, что мой своенравный, характерный кот, живет на Проспекте Победы около
            продавцов овощей и ремонта обуви!

        </p>
    </article>
    <article>
        <div class="article-image" ></div>
        <h3>Найдена бельгийская овчарка</h3>
        <p class="description">
            <img src="~/Content/photo/1.jpg" width="100" height="100">
            ВЫ ВСЕ ОЧЕНЬ ПОСТАРАЛИСЬ!!! У НАС РАДОСТНАЯ НОВОСТЬ!!! НАШ РИЧУЛЯ СЕГОДНЯ УТРОМ НАШЁЛАСЯ!!!
            Я НАШЛА ЕГО В ЗАТОНЕ, ПО ВАШИМ ЗВОНКАМ И СООБЩЕНИЯМ-ПОДСКАЗКАМ!!! ВСЕМ ОГРОМНЕЙШЕЕ СПАСИБО!!!

        </p>
    </article>
</section>

